* {
    margin: 0%;
    padding: 0%;
}

.mainpage {
    display: flex;
    background-color: #091224;
    height: 100vh;
    width: 100vw;
    font-family: inter;
    color: #FFFFFF;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: inherit;
    border: 0px 1px 0px 0px;
    background-color: #0F172B;
}

.logo {
    width: 162px;
    height: 28px;
    padding: 20px 0 0 40px;
}

.option {
    padding-top: 70px;
    list-style: none;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 20px;
}

.nav-item-active {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 20px;
    margin-right: 20px;
    background-color: #19223F;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-text {
    color: #677083;
    padding-left: 10px;
}

.nav-text-active {
    list-style: none;
    color: #677083;
    font-family: inter;
    padding-left: 10px;
    color: #E6FC5FD9;
}

.material-symbols-outlined {
    color: #677083;
    font-size: 28px !important;
}

.active-icon {
    color: #E6FC5FD9;
    font-size: 2rem !important;
}

.screen-color {
    display: flex;
    align-items: end;
    justify-content: center;
    margin: 300px 30px 40px 20px;
}

.screen-color-dark {
    background-color: #C7DB58;
    color: #000000;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    border: transparent;
}

.screen-color-light {
    border: 1px solid #667085;
    padding: 10px 15px 10px 15px;
    color: #84809C;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #0F172B;
}

.common-bar {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.head-bar {
    display: flex;
    align-items: center;
    height: 70px;
    border: 0px 1px 0px 0px;
    background-color: #0F172B;
    padding: 10px;
}

.menu {
    color: #CDCDD5;
    width: 24px;
    height: 24px;
    margin-right: 40px;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #19223F;
    border-radius: 50px;
    border: transparent;
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
}

.search-input {
    border: none;
    outline: none;
    font-size: 16px;
    width: 200px;
    background-color: transparent;
    color: #FFFFFF;
}

.search-icon {
    padding-left: 30px;
}

.headset-icon {
    padding: 0 10px 0 430px;
}

.notification {
    padding-right: 10px;
}

.profile {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    align-items: center;
    position: relative;
}

.profile-name {
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.position {
    font-weight: 400;
    font-size: 12px;
    color: #CDCDD5;
}

.droupdown {
    background-color: #0F172B;
    border: none;
    outline: none;
    font-size: 16px;
    color: #FFFFFF;
}

.titlebar {
    display: flex;
    align-items: center;
    height: 100px;
    color: #FFFFFF;
    margin: 10px 10px 0 40px;
}

.client-search {
    background-color: #091224 !important;
    border-radius: 4px !important;
    border: 1px solid #C2C2C2 !important;
    padding: 0 10px 0 10px;
    color: #C2C2C2 !important;
    font-weight: 600 !important;
}

.client-logo {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 20px;
    padding: 0 0 10px 40px;
}

.file {
    border: 0.5px solid #50596C;
    border-radius: 4px;
    height: 93px;
    width: 270px;
    margin-top: 10px;
}

.row-direction {
    display: flex;
    margin-left: 20px;
}

.column-direction {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 20px ;
}

.detail-font {
    color:  #A5A5A9;
    font-size :20px;
}

.detail-select {
    width: 230.6px;
    height: 43px;
    margin-top: 5px;
    background-color:  #091224;
    border: 0.5px solid #50596C;
    border-radius: 4px;
    color: #FFFFFF;
}

.detail-input {
    display:flex ;
    padding: 20px 10px 10px 10px;
}

.detail-element {
    padding: 10px 20px 10px 20px;
    background-color: #091224;
    margin: 10px 0 10px 40px;
    border: transparent;
    color: #E2E8F0;
    font-size: 20px;
}

hr {
    border: 1px solid #50596C
}

table {
    border-width: 1px, 1px, 0px, 1px;
    border-color: soild #50596C;
}

th {
       background-color: #19223F;
    height: 17px;
    width: 100px;
    padding: 15px;
}

td {
    padding: 15px ;
    border-width: 1px, 1px, 0px, 1px;
    border-color: soild #50596C;
}

.add {
    color: #E6FC5F;
}

.submit {
    margin:100px 40px 40px 200px !important;
    display: flex;
    justify-content: end;
}
